<div id="contenedor-producto">
    <section class="page-section cadenas">
        <div class="container">
            <div class="product-item">
                <div class="product-item-title d-flex">
                    <div class="bg-faded p-5 d-flex ms-auto rounded">
                        <h2 class="section-heading mb-0">
                            <span class="section-heading-upper">para Mamás</span>
                            <span class="section-heading-lower">Cadena</span>
                        </h2>
                    </div>
                </div>
                <img class="
              product-item-img
              mx-auto
              d-flex
              rounded
              img-fluid
              mb-3 mb-lg-0
            " src="assets/img/imagen6.jpg " width="500%" alt="..." />
                <div class="product-item-description d-flex me-auto">
                    <div class="bg-faded p-5 rounded">
                        <p class="mb-0">
                            Hermosa cadena para demostrarle a mamá lo brillante que puede ser. Costo: $30
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="page-section pulseras">
        <div class="container">
            <div class="product-item">
                <div class="product-item-title d-flex">
                    <div class="bg-faded p-5 d-flex ms-auto rounded">
                        <h2 class="section-heading mb-0">
                            <span class="section-heading-upper">para Hombre</span>
                            <span class="section-heading-lower">Pulsera Bañada en oro</span>
                        </h2>
                    </div>
                </div>
                <img class="
              product-item-img
              mx-auto
              d-flex
              rounded
              img-fluid
              mb-3 mb-lg-0
            " src="assets/img/imagen4.jpg " width="500%" alt="..." />
                <div class="product-item-description d-flex me-auto">
                    <div class="bg-faded p-5 rounded">
                        <p class="mb-0">
                            Una pulsera que viene excelente para ocasiones especiales y elegante, date a notar con
                            nuestra expléndida pulsera. Costo: $50
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="page-section pulseras">
        <div class="container">
            <div class="product-item">
                <div class="product-item-title d-flex">
                    <div class="bg-faded p-5 d-flex ms-auto rounded">
                        <h2 class="section-heading mb-0">
                            <span class="section-heading-upper">para Mujer</span>
                            <span class="section-heading-lower">Pulsera de piedras</span>
                        </h2>
                    </div>
                </div>
                <img class="
              product-item-img
              mx-auto
              d-flex
              rounded
              img-fluid
              mb-3 mb-lg-0
            " src="assets/img/imagen5.jpg " width="500%" alt="..." />
                <div class="product-item-description d-flex me-auto">
                    <div class="bg-faded p-5 rounded">
                        <p class="mb-0">
                            Pulsera con piedras de diferentes tipo, especiales para momentos de playa o solamente para
                            salir a divertirse. Siente las olas del mar con nuestra pulsera. Costo: $15
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>