<section class="page-section cta">
    <div class="container">
        <div class="row">
            <div class="col-xl-9 mx-auto">
                <div class="cta-inner bg-faded text-center rounded">
                    <h2 class="section-heading mb-5">
                        <span class="section-heading-upper">
                            <em>Ven a visitarnos! </em>
                        </span>
                        <span class="section-heading-lower">ESTAMOS ABIERTOS</span>
                    </h2>
                    <ul class="list-unstyled list-hours mb-5 text-left mx-auto">
                        <li class="list-unstyled-item list-hours-item d-flex">
                            Domingo
                            <span class="ms-auto">10:30 AM to 20:00 PM</span>
                        </li>
                        <li class="list-unstyled-item list-hours-item d-flex">
                            Lunes
                            <span class="ms-auto">9:30 AM to 21:00 PM</span>
                        </li>
                        <li class="list-unstyled-item list-hours-item d-flex">
                            Martes
                            <span class="ms-auto">9:30 AM to 21:00 PM</span>
                        </li>
                        <li class="list-unstyled-item list-hours-item d-flex">
                            Miercoles
                            <span class="ms-auto">9:30 AM to 21:00 PM</span>
                        </li>
                        <li class="list-unstyled-item list-hours-item d-flex">
                            Jueves
                            <span class="ms-auto">9:30 AM to 21:00 PM</span>
                        </li>
                        <li class="list-unstyled-item list-hours-item d-flex">
                            Viernes
                            <span class="ms-auto">9:30 AM to 21:00 PM</span>
                        </li>
                        <li class="list-unstyled-item list-hours-item d-flex">
                            Sabado
                            <span class="ms-auto">9:30 AM to 21:00 PM</span>
                        </li>
                    </ul>
                    <p class="address mb-5">
                        <em>
                            <strong>Tryp by Wyndham/ Mall del Sol</strong>
                            <br />
                            Guayaquil, Guayas
                        </em>
                    </p>
                    <p class="mb-0">
                        <small><em>LLamar a:</em></small>
                        <br />
                        (+593)-9967-88452
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>