<div class="row justify-content-center">
    <div class="col-12">
        <div class="card text-center">
            <div class="contenedor-formularios">
                <div id="iniciar-sesion">
                    <h1>Iniciar Sesión</h1>
                    <div class="contenedor-input">
                        <label>
                            Correo:
                        </label>
                        <input style="text-align: right;" [(ngModel)]="login.email" type="text" required>
                    </div>

                    <div class="contenedor-input">
                        <label>
                            Contraseña:
                        </label>
                        <input style="text-align: right;" [(ngModel)]="login.password" type="password" required>
                    </div>
                    <button class="btn btn-primary" style="background-color: #157278;" (click)="onLoggedin()">Iniciar
                        Sesion</button>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- Registrarse -->
<!-- <div id="registrarse">
            <h1>Registrarse</h1>
            <form action="#" method="post">
                <div class="fila-arriba">
                    <div class="contenedor-input">
                        <label>
                            Nombre <span class="req">*</span>
                        </label>
                        <input type="text" required>
                    </div>

                    <div class="contenedor-input">
                        <label>
                            Apellido <span class="req">*</span>
                        </label>
                        <input type="text" required>
                    </div>
                </div>
                <div class="contenedor-input">
                    <label>
                        Usuario <span class="req">*</span>
                    </label>
                    <input type="text" required>
                </div>
                <div class="contenedor-input">
                    <label>
                        Email <span class="req">*</span>
                    </label>
                    <input type="email" required>
                </div>
                <div class="contenedor-input">
                    <label>
                        Contraseña <span class="req">*</span>
                    </label>
                    <input type="password" required>
                </div>

                <div class="contenedor-input">
                    <label>
                        Repetir Contraseña <span class="req">*</span>
                    </label>
                    <input type="password" required>
                </div>

                <input type="submit" class="button button-block" value="Registrarse">
            </form>
        </div>
    </div>
</div> -->