<section class="page-section clearfix">
    <div class="container">
        <h2 class="section-heading mb-4">
            <span class="section-heading-lower">Nuevos Productos</span>
        </h2>
    </div>
</section>
<section class="page-section clearfix">
    <div class="container">
        <div class="col-md-12">


            <ngb-carousel [interval]="2500" [pauseOnHover]="true" [pauseOnFocus]="true">
                <ng-template ngbSlide>
                    <div class="picsum-img-wrapper">
                        <img src="assets/img/imagen4.jpg" class="d-inline w-50" alt="Random first slide">
                    </div>
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Este es nuestra joya mas reciente</h5>
                        <p>Nuevo modelo de pulsera de bañada en oro con el 10% desc. por primer día de presentación
                        </p>
                    </div>
                </ng-template>
                <ng-template ngbSlide>
                    <div class="picsum-img-wrapper">
                        <img src="assets/img/imagen5.jpg" class="d-inline w-50" alt="Random second slide">
                    </div>
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Renovada pulsera hecha con piedras volcánicas</h5>
                        <p>Aproveche la promoción $18.50 -50% a pagar</p>
                    </div>
                </ng-template>
                <ng-template ngbSlide>
                    <div class="picsum-img-wrapper">
                        <img src="assets/img/imagen6.jpg" class="d-inline w-50" alt="Random second slide">
                    </div>
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Promoción por la modelo de pulsera microcircon dedicado a mamá </h5>
                        <p>A solo $15 con el 25% desc.</p>
                    </div>
                </ng-template>
                <ng-template ngbSlide>
                    <div class="picsum-img-wrapper">
                        <img src="assets/img/pulsera-microcircon.jpg" class="d-inline w-50" alt="Random second slide">
                    </div>
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Pulseras en microcircon</h5>
                        <p>En Baño de Oro $18 -50% dscto a pagar. $9.00 c/pulsera</p>
                    </div>
                </ng-template>
                <ng-template ngbSlide>
                    <div class="picsum-img-wrapper">
                        <img src="assets/img/pulsera-piedras.jpg" class="d-inline w-50" alt="Random second slide">
                    </div>
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Pulseras en cristales, piedras y accesorios en Acero Quirúrgico</h5>
                        <p>$21.50 -50% a pagar. $10.75 c/pulsera</p>
                    </div>
                </ng-template>
                <ng-template ngbSlide>
                    <div class="picsum-img-wrapper">
                        <img src="assets/img/pulsera-tigre-volcanico.jpg" class="d-inline w-50"
                            alt="Random second slide">
                    </div>
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Pulseras en hilo con piedra volcánica y ojo de tigre</h5>
                        <p>Promo $8 c/pulsera. Empaque de regalo gratis</p>
                    </div>
                </ng-template>
            </ngb-carousel>

        </div>
    </div>
</section>
<section class="page-section cta">
    <div class="container">
        <div class="row">
            <div class="col-xl-9 mx-auto">
                <div class="cta-inner bg-faded text-center rounded">
                    <h2 class="section-heading mb-4">
                        <span class="section-heading-upper">Nuestra promesa</span>
                        <span class="section-heading-lower">Contigo</span>
                    </h2>
                    <p class="mb-0">
                        Querido cliente cuando ingrese a nuestra tienda, estamos dedicados
                        a brindarle un servicio amable, un ambiente acogedor y, sobre todo,
                        excelentes productos elaborados con materiales de la más alta calidad.
                        Si no está satisfecho, háganoslo saber y haremos todo lo posible para
                        arreglar las cosas.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>